h1{


  font-family: verdana;

  color:blue;

}


 h2{

  font-family: verdana;

  color:blue;

}


p{

 font-family: verdana;

}


body {

    background-image: img src="papertexture-2061710_960_720.jpg";

}
