h1{


  font-family: verdana;

  color: #527a7a;

}


 h2{

  font-family: verdana;

  color:blue;

}


p{

 font-family: verdana;

}


body {

    background-image: url("papertexture-2061710_960_720.jpg");

}
